Options -Indexes
RewriteEngine On
# Laragon auto vhost notepad-share.test → DocumentRoot = public/  → pakai /
# Jika diakses sebagai http://localhost/notepad-share/public/ → ganti: RewriteBase /notepad-share/public/
RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L]
